name: Sam CI/CD Pipeline

on:
  push:
    branches:
      - staging     
  create:
    tags:
      - '*'         

jobs:
  # staging
  deploy-staging:
    if: github.ref == 'refs/heads/staging' # execute only when code is pushed to staging
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Create .env for staging
      run: |
        echo "MONGO_URI=${{ secrets.STAGING_MONGO_URI }}" > .env
        echo "SECRET_KEY=${{ secrets.STAGING_SECRET_KEY }}" >> .env

    - name: Zip project
      run: zip -r app.zip . -x "*.git*"

    - name: Setup EC2 key for staging
      run: |
        echo "${{ secrets.STAGING_EC2_KEY }}" > ec2_staging.pem
        chmod 600 ec2_staging.pem

    - name: Upload to staging EC2
      run: |
        scp -o StrictHostKeyChecking=no \
        -i ec2_staging.pem \
        app.zip ubuntu@${{ secrets.STAGING_EC2_HOST }}:/home/ubuntu/app.zip

    - name: Deploy on staging EC2
      run: |
        ssh -o StrictHostKeyChecking=no -i ec2_staging.pem ubuntu@${{ secrets.STAGING_EC2_HOST }} '

          sudo apt update -y
          sudo apt install -y unzip python3-venv python3-pip

          sudo rm -rf /home/ubuntu/app
          sudo mkdir -p /home/ubuntu/app
          sudo unzip -o /home/ubuntu/app.zip -d /home/ubuntu/app

          cd /home/ubuntu/app
          python3 -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

          echo "[Unit]
          Description=Flask App
          After=network.target

          [Service]
          User=ubuntu
          WorkingDirectory=/home/ubuntu/app
          EnvironmentFile=/home/ubuntu/app/.env
          ExecStart=/bin/bash -c \"source /home/ubuntu/app/venv/bin/activate && python /home/ubuntu/app/app.py\"
          Restart=always

          [Install]
          WantedBy=multi-user.target" | sudo tee /etc/systemd/system/flaskapp.service

          sudo systemctl daemon-reload
          sudo systemctl enable flaskapp
          sudo systemctl restart flaskapp
        '

  # prod
  deploy-production:
    if: startsWith(github.ref, 'refs/tags/') # execute only when a tag is created
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Create .env for production
      run: |
        echo "MONGO_URI=${{ secrets.PROD_MONGO_URI }}" > .env
        echo "SECRET_KEY=${{ secrets.PROD_SECRET_KEY }}" >> .env

    - name: Zip project
      run: zip -r app.zip . -x "*.git*"

    - name: Setup EC2 key for production
      run: |
        echo "${{ secrets.PROD_EC2_KEY }}" > ec2_prod.pem
        chmod 600 ec2_prod.pem

    - name: Upload to production EC2
      run: |
        scp -o StrictHostKeyChecking=no \
        -i ec2_prod.pem \
        app.zip ubuntu@${{ secrets.PROD_EC2_HOST }}:/home/ubuntu/app.zip

    - name: Deploy on production EC2
      run: |
        ssh -o StrictHostKeyChecking=no -i ec2_prod.pem ubuntu@${{ secrets.PROD_EC2_HOST }} '

          sudo apt update -y
          sudo apt install -y unzip python3-venv python3-pip

          sudo rm -rf /home/ubuntu/app
          sudo mkdir -p /home/ubuntu/app
          sudo unzip -o /home/ubuntu/app.zip -d /home/ubuntu/app


          cd /home/ubuntu/app
          python3 -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

          echo "[Unit]
          Description=Flask App
          After=network.target

          [Service]
          User=ubuntu
          WorkingDirectory=/home/ubuntu/app
          EnvironmentFile=/home/ubuntu/app/.env
          ExecStart=/bin/bash -c \"source /home/ubuntu/app/venv/bin/activate && python /home/ubuntu/app/app.py\"
          Restart=always

          [Install]
          WantedBy=multi-user.target" | sudo tee /etc/systemd/system/flaskapp.service

          sudo systemctl daemon-reload
          sudo systemctl enable flaskapp
          sudo systemctl restart flaskapp
        '
